.abt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.spinner{
    width: 50px;
    margin-right: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: s1 1s infinite;
}
@keyframes s1{to{transform: rotate(.5turn)}}